.containerSave{
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("../../4.png");
}
.wrapperSave{
   display: flex;
   align-items: center;
   margin: 0 auto;
}
.imgSave{    
    transform: translateY(20%);
}
.imgSave img{
    width: 600px;
    padding-left: 20px;
}
.headerSave{  
    margin-bottom: 24px;
    margin-left: 10%;
}
.headerSave h1{
    color: #fc9583;
    font-size: 50px;
    line-height: 1.1;
}
.textSave{
    margin-left: 10%;
  
    margin-bottom: 35px;
    line-height: 24px;
}
.textSave p{
    text-align: justify;
    font-size: 18px;
}
.wrapperTextSave{
    width: 500px;
}
@media screen and (max-width:1100px) {
    .headerSave h1{
        font-size: 40px;
    }
    .textSave {
      width: 80%;
    }
}
@media screen and (max-width:960px) {
  
    .imgSave > img{
        margin-top: 10%;
        width: 80%;
        padding-left: 0px;
    }
    .imgSave{
        width: 80%;
    }
    .headerSave h1{
        font-size: 35px;
    }
    .wrapperTextSave{
        width: 400px;
    }
    .textSave{
        width: 80%;
    }

}
@media screen and (max-width:400px) {
    .headerSave h1{
        font-size: 25px;
        
    }
    .textSave{
        width: 200%;
    }
    .wrapperSave{
        height: 80vh;
    }
    .wrapperTextSave{
        position: relative;
        top: 120px;
        right: 220px;
        width: 300px;
    }
    .textSave p {
        font-size: 15px;
    }
    .imgSave{
        position: relative;
        top: -160px;
        left: 80px;
        width: 200%;
    }
}