.containerHome{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("../../3.png");
}
.wrapperHome{
   display: flex;
   align-items: center;
}
.imgHome{
    margin-top: 10%;
    margin-left: 10%;
}
.imgHome > img{
    width: 600px;
    
}
.headerHome{ 
    width: 500px;
    margin-bottom: 24px;
    margin-left: 10%;
}
.headerHome h1{
    color: #fc9583;
    font-size: 50px;
    line-height: 1.1;
}
.textHome{
    margin-left: 10%;
    width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}
.wrapperTextHome{
    margin-top: 15%;
}
.buttonHome{
    margin-left: -10%;
}
@media screen and (max-width:1100px) {
    .imgHome > img{
        margin-top: 10%;
        width: 500px;
    }
    .wrapperTextHome{
        width: 400px;
        
    }
    .textHome{
        width: 400px;
    }
}
@media screen and (max-width:960px) {
  
    .imgHome > img{
        margin-top: 10%;
        width: 400px;
    }
    .wrapperTextHome{
        width: 300px;
        margin-top: 20%;
    }
    .textHome{
        width: 300px;
    }
}
@media screen and (max-width:400px) {
    .headerHome h1{
        font-size: 30px;
    }
    .textHome{
        width: 200px;
        font-size: 15px;
    }
   .imgHome img{
       width: 300px;
   }
   .imgHome{
       position: relative;
       top: 250px;
       right: 280px;
       margin: 0;
   }
   
}