:root{
    --primary: #fff;
}
.btn{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}
.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all .3s ease-out;
}
.btn--medium{
    padding: 8px 20px;
    font-size: 18px;
}
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}
.btn--mobile{
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all .3s ease-out;
}
.btn--wide{
    padding: 12px 64px;
    font-size: 20px;
}
.btn--large:hover,.btn--medium:hover,.btn--mobile:hover{
    transition: all .3s ease-out;
    background: #fff;
    color: #242424;
}
.btn--wide:hover{
    transition: all .2s ease-out;
    color: #fff;
    background: #fab6aa;
}
.blue{
    background-color: rgb(25, 110, 221);
    color: #fff;
    border: none;
}
.red{
    background-color: rgb(187, 28, 22);
    color: #fff;
    border: none;
}
.green{
    background-color: rgb(26, 121, 17);
    color: #fff;
    border: none;
}
.orange{
    background-color: #fc9583;
    color: #fff;
    border: none;
}
.green:hover{
    background-color: rgb(0, 0, 0);
    
}
.primary{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
}
.primary:hover{
    color: rgb(0, 0, 0);
    background-color: #fff;
    border: none;
} 
.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}