input[type="file"]{
    display: none;
}
#selector{
  padding: 4px 10px;
  border: 2px solid #58c4bc;
  border-radius: 20px; 
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 17px;
  display: inline-block;

}
#selector:hover{
  transform: scale(1.03);
}

#selector span{
  font-weight: normal;
}
.buttons{
  padding: 0px 10px;
  border: 2px solid #58c4bc;
  border-radius: 20px; 
  cursor: pointer;
  background: none;
  font-size: 16px;
  white-space: nowrap;
  display: inline-block;
}
.buttons:hover{
    transform: scale(1.03);
}
.kapsayici{
    display: flex;
    justify-content: center;
    align-content: center;
}
