input[type="file"]{
    display: none;
}
#selector{
  padding: 6px 10px;
  border: 2px solid #58c4bc;
  border-radius: 20px; 
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 17px;
}
#selector:hover{
  transform: scale(1.03);
}

#selector span{
  font-weight: normal;
 
}
.buttons{
  padding: 6px 10px;
  border: 2px solid #58c4bc;
  border-radius: 20px; 
  cursor: pointer;
  background: none;
  font-size: 16px;
  white-space: nowrap;
  
}
.buttons:hover{
    transform: scale(1.03);
}
.kapsayici{
    display: flex;
    justify-content: center;
    align-content: center;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
}
progress[value]::-webkit-progress-bar {
  margin-top: 5px;
  margin-left: -15%;
  background-color: #fff;
  border-radius: 10px;
}
progress[value]::-webkit-progress-value {
  
  background-color: #fc9583;
  border-radius: 10px;
  width: 90%;
}

@media screen and (max-width: 1100px) {
  .buttons, #selector{
    width: 95%;
  }
  .imgSpan{
    font-size: 13px;
    
  }
  .smallicon{
    width: 12px;
  }
}
@media screen and (max-width: 960px){
  .buttons, #selector{
    width: 200%;
  }
  .imgSpan{
    font-size: 16px;
  }
  .smallicon{
    width: 20px;
  }
}