.containerBigCard{
    margin: 0 auto;
}
.container_big{
    background:linear-gradient(45deg, #e5eeee 0%,#e5eeee 100%);
    box-shadow: 0 6px 20px rgba(2, 4, 7, 0.2);
    width: 94%;
    height: 30%;
    border-radius: 20px; 
    margin-left: 40px; 
    margin-right: 30px; 
}
.background{
    background-image: linear-gradient(90deg, #58c4bc, #8ed8d3, #c2ceb5, #aad3cc) ;
    padding-bottom: 30px;
}
ul.thumbs.animated{
    display: none;
}
.carousel-root{
    width: 100%;
    border-radius: 20px; 
    height: 100%;
    background: #e5eeee;
    padding-top: 30px;
}
.control-arrow{
    display: none;
}
.carousel-status{
    display: none;
}
.control-dots{
    display: none;
}
.section_card{
    padding: 65px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     background-image: linear-gradient(25deg, #58c4bc, #8ed8d3, #c2ceb5, #ffe1c8) 
    
}
.container_card{
    background:linear-gradient(45deg, #e5eeee 0%,#e5eeee 100%);
    box-shadow: 0 6px 20px rgba(2, 4, 7, 0.2);
    width: 30%;
    height: 50%;
    margin-left: 30px; 
    margin-right: 30px;
    border-radius: 20px;
    align-content: center;
}
.card{
    background: #e5eeee;
}
.card img{
    max-width: 270px;
    margin: 0;
}
li.slide.selected{
    background:#e5eeee ;
    border-radius: 30px;
} 

.containerr{
    display: flex;
    justify-content: center;
    align-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
}
.heading{
    color: #fc9583;
    margin-bottom: 24px;
}
.container_cardInfo{
    display: flex;
    flex-direction: column;
    height: 512px;
    align-items: center;  
 
}
.container_cardInfo h1{
    margin-top: 5px;
    font-size: 30px;
    color: #fc9583;
}
.container_cardInfo h2{
    color: #fc9583;
}
.ortala p{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: rgb(73, 71, 71);
}
.features{
    margin: 0 32px;
    list-style: none; 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.features li{
    margin-bottom: 10px;
    font-size: 20px;
}
.image{
    margin: 24px 0;
    width: 100px;
    
}
.image img{
    border-radius: 50%;
    width: 100px;
    border: 3px solid #58c4bc; 
}
.kucukresim img{
    margin: 0;
    max-width: 200px;
}
.gif img{
    width: 3%;
    display: flex;
    margin: 0 auto;
    margin-top: 1.5%;
    
}
.imgHero img{
    max-width: 230px;
}
.headerHero h1{
    color: #fc9583;
}
.sort ul li img{
    max-width: 40px;
    float: left;
}
.sort ul {
    list-style-type: none;
    
}
.sort{
    width: 300px;
    margin-top: 4%;
}
.sort ul li {
    padding-bottom: 4%;
    
}
.more{
    width: 30px;
    margin-left: 1%;
}
.person{
    margin-left: 3%;
    margin-top: 1%;
    font-size: 20px;
    color:#fc9583;
    font-weight: 700;
}
.nameHero{
    font-weight: 600;
    color: #0f415d;
    margin-left: 20px;
    margin-right: 60px;
    float: left;
}
.pointHero{
    font-weight: 800;
    color: #58c4bc;
    font-size: 20px;
    display: flex;
    justify-content:flex-end;
}

@media screen and (max-width:1100px){
    .headerHero h1{
        font-size: 25px;
    }
    .sort ul{
        margin-left: 10px;
        margin-right: 10px;
    }
    .more{
        margin-left: 15px;
    }
    
}
@media screen and (max-width:960px){
    .containerr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .carousel-root{
        width: 100%;
    }
    .container_card{
        width: 90%;
        margin-bottom: 20px;
    }
    .section_card{
        padding: 65px 0 10px;
    }
    .container_big{
        margin-left: 30px;
    }
    .wrapper{
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li.slide{
        background:#e5eeee ;
        border-radius: 30px;
    } 
    .gif img{
        display: none;
    }
    .headerHero h1{
        font-size: 30px;
    }
    
}
